@model List<Post>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Post Details</th> <!-- Single column for Title and Content -->
        </tr>
    </thead>
    <tbody>

        @foreach (var post in Model)
        {
                <tr>
                    <td>
                        <strong>@post.Title</strong><br />
                        <span>@post.Content</span>
                    </td>
                    <td>
                        <a asp-action="Post" asp-controller="Post" asp-route-id="@post.Id" class="btn btn-secondary">
                            <i class="fas fa-arrow-right"></i> Go to Details
                        </a>
                    </td>
                </tr>

        }
    </tbody>
</table>
